<?xml version="1.0" ?>
<robot name="target" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find mbzirc_gazebo)/urdf/materials.urdf.xacro" />

  <xacro:property name="radius" value="0.15" />
  <xacro:property name="height" value="0.1" />

  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <gazebo reference="target">
    <material>Gazebo/Black</material>
  </gazebo>

  <link name="base_link_$(arg name)">
    <visual>
      <geometry>
        <cylinder radius="${radius}" length="${height}"/>
      </geometry>
      <material name="robot/blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="${radius}" length="${height}"/>
      </geometry>
    </collision>
    <xacro:default_inertial mass="10"/>
  </link>


  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!-- <robotNamespace>/target1/</robotNamespace> -->
      <!-- <robotNamespace value="/$(arg ns)/" /> -->
    </plugin>
  </gazebo>

</robot>
