<?xml version="1.0" ?>
<sdf version="1.4">
  <world name="default" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>

    <!-- A ground plane -->
    <include>
      <uri>model://ground_plane</uri>
    </include>

    <gui>
      <camera name="user_camera">
        <pose>72 -32 4 0 0.3 ${3 * pi / 4}</pose>
      </camera>
    </gui>

    <!-- Field -->
    <model name="ground">
      <pose>0 0 0 0 0 0</pose>
      <static>true</static>
      <link name="link">
        <collision name="ground_collision">
          <geometry>
            <box>
              <size>107.0 53.5 0.15</size>
            </box>
          </geometry>
        </collision>
        <visual name="ground_visual">
          <geometry>
            <box>
              <size>107.0 53.5 0.15</size>
              <!-- <size>160.0 80.0 0.15</size> -->
            </box>
          </geometry>
          <material>
            <script>
              <uri>$(find mbzirc_gazebo)/worlds/materials/scripts</uri>
              <uri>$(find mbzirc_gazebo)/worlds/materials/textures</uri>
              <name>KentlandFarmGround/Image</name>
            </script>
          </material>
        </visual>
      </link>
    </model>
  </world>
</sdf>
